cache:
  paths:
    - node_modules/

stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    - npm install
    - npm run build
  artifacts:
    paths:
      - ./build
  only:
    - master

deploy1:
  stage: deploy
  script:
    - mkdir kaushik
    - cp -r ./build/* /home/ubuntu/kaushik/