cache:
  paths:
    - node_modules/

stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    - npm install
    - npm run build
  artifacts:
    paths:
      - ./build
  only:
    - master

test:
  stage: test
  script:
    - echo "Running react test suite......"
    - npm test
  only:
    - master

deploy1:
  stage: deploy
  script:
    - scp -r ./build/* gitlab@13.232.99.82:/home/ubuntu/kk

